.modalBackground{
    background-color:grey;
    filter: alpha(opacity=70);
    opacity: 0.9;
}
.mymodal {
    background-color:azure;
}
/* for my date picker */
.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}